{% from "macroses.html" import render_menu with context %}


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      {{ render_menu(menu) }}
    </nav>
</header>
