{% macro render_sub_menu(sub_menu) %}
    {# TODO shitcode #}
    {% set ns = namespace (menu_cls = '') %}
    {% for item in sub_menu.sub_menu if item.url == request.path.rstrip('/') %}
        {% set ns.menu_cls = 'active' %}
    {% endfor %}

    <li class="nav-item dropdown {{ ns.menu_cls }}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ sub_menu.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for item in sub_menu.sub_menu %}
                {% set item_cls = 'active' if request.path == item.url else '' %}
                <a class="dropdown-item {{ item_cls }}" href="{{ item.url }}">{{ item.name }}</a>
            {% endfor %}
        </div>
      </li>
{% endmacro %}

{% macro render_menu_item(item) %}
    {% set url = item.url if item.url %}
    {% set cls = 'active' if request.path.rstrip('/') == item.url %}
    {% if item.sub_menu %}
        {{ render_sub_menu(item) }}
    {% else %}
        <li class="nav-item {{ cls }}">
        <a class="nav-link" href="{{ url if item.url else '#' }}" title="{{ item.description if item.description }}">
            {{ item.name }}
            <span class="sr-only">(current)</span>
        </a>
        </li>
    {% endif %}
{% endmacro %}


{% macro render_menu(menu) %}
    {% if menu %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in menu %}
                {{ render_menu_item(item) }}
            {% endfor %}
        </ul>
        </div>

    {% endif %}
{% endmacro %}