<link rel="stylesheet" href="{{ url_for('static', filename='cropper/cropper.css') }}" crossorigin="anonymous">

<style>
        /* Limit image width to avoid overflow the container */
    img {
      max-width: 100%; /* This rule is very important, please do not ignore this! */
    }

    #canvas {
        display: none;
      height: 600px;
      width: 600px;
      background-color: #ffffff;
      cursor: default;
      border: 1px solid black;
    }
    #cropped_img {
        display: none;
    }
    #btnCrop{
        display: none;
    }
    #btnApply{
        display: none;
    }
    #btnCancel{
        display: none;
    }
    #btnDelete{
        display: none;
    }
    #imageBase64{
        display: none;
    }
</style>

<p>
    <input class="form-control-file" type="file" id="fileInput" accept="image/*" />
</p>

<p>
    <canvas id="canvas">
        Your browser does not support the HTML5 canvas element.
    </canvas>
</p>
<p>
    <input type="button" id="btnCrop" class="btn btn-primary" value="Crop" />
    <input type="button" id="btnApply" class="btn btn-success" value="Apply" />
    <input type="button" id="btnCancel" class="btn btn-warning" value="Cancel" />
    <input type="button" id="btnDelete" class="btn btn-danger" value="Delete" />
</p>
<p>
    <img class="form-control-static" id="cropped_img" src="" style="width: 100%">
</p>

<div>
    {{ input_field }}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='cropper/cropper.js') }}"></script>
<script src="{{ url_for('static', filename='img_cropper_widget.js') }}"></script>