{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block content %}

<ul>
{% for category in categories %}
    <li><a href="#category-{{ loop.index }}">{{ category.name }}</a> </li>
{% endfor %}
</ul>

{% for category in categories %}
    <h3 id="category-{{ loop.index }}">{{ category.name }}</h3>

    {% set ns = namespace (end_row_index = 1) %}
    {% for employee in employees.get(category) %}

        {% if loop.index % 3 == 1 %}
            <div class="row">
            {% set ns.end_row_index = loop.index + 2 %}
        {% endif %}

                <div class="col-sm-6 col-md-4">
                  <div class="card">
                    <img class="card-img-top w-100" src="https://play-lh.googleusercontent.com/dtGf4WBc6yrzR6aUMcwhfYnmoTUYu7XEw9zwLFw_XB9AWoMLhIvNi51XrXSma9L9s3o" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ employee.last_name }}</h5>
                        <h5 class="card-title">{{ employee.first_name }} {{ employee.middle_name }}</h5>
                      <p class="card-text">loop {{ loop.index }}; end_ind {{ ns.end_row_index }}</p>
                        <p class="card-text">{{ loop.index % 3 }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>

        {% if ns.end_row_index == loop.index or not loop.nextitem %}
            </div>
        {% endif %}

    {% endfor %}
{% endfor %}

{% endblock %}
