{% extends 'base.html' %}

{% block head %}

    <style>
    .card-text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4;
   -webkit-box-orient: vertical;
    }
    </style>

{% endblock head %}

{% block content %}

    {% macro text_block(title, lead_paragraph, link) -%}
        <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">{{ title }}</h4>
              <p class="card-text">{{ lead_paragraph }}</p>
              <a href="{{ link }}" class="nav-link active">Читать дальше</a>
            </div>
        </div>
    {% endmacro %}

    {% macro img_block(img_src) -%}
        <div class="col-md-4">
            <img src="{{ img_src }}" class="w-100">
        </div>
    {%- endmacro %}


    {% for news in news_list %}
    <div class="card mb-3">
      <div class="row ">
          {% if loop.index % 2 %}
              {{ img_block(news.imageBase64) }}
              {{ text_block(news.title, news.lead_paragraph, news.link() ) }}
          {% else %}
              {{ text_block(news.title, news.lead_paragraph, news.link() ) }}
              {{ img_block(news.imageBase64) }}
          {% endif %}
      </div>
    </div>
    {% endfor %}

{% endblock %}
